﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EsimeneLeht.aspx.cs" Inherits="EsimeneVeeb.EsimeneLeht" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Hennu Weeb</title>
</head>
<body>
    <link href="StyleSheet1.css" rel="stylesheet" />
    <h1>Henn tegi endale veebimasina:</h1>
    <p>põhhi oskan ma ka ütelda (muudatus)</p>
    <div class="ehee">
        <a href="http://www.sarv.ee/henn" >Hennu pildid</a>
    </div>
    <table border="1" style="float: right">
        <tr>
            <th>Nimi</th>
            <th>Vanus</th>
        </tr>
        <tr>
            <td>Henn</td>
            <td>64</td>
        </tr>
    </table>
    <form id="form1" runat="server">
        <p>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
            <asp:TextBox ID="TextBox1" runat="server" CssClass="Henn"></asp:TextBox>
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        </p>
        <p>&nbsp;</p>
        <table>
            <tr>
                <th style="width: 400px">
                    <h1>Meie töötajad: </h1>
                </th>
                <th>
                    <h1>Meie tooted: </h1>
                </th>
            </tr>
            <tr style="vertical-align: top">
                <td>

                    <asp:GridView ID="EmployeeList" runat="server" AllowPaging="True" PageSize="5" OnPageIndexChanging="EmployeeList_PageIndexChanging"></asp:GridView>
                </td>
                <td>

                    <asp:Label ID="CategoryName" runat="server" Text="" Font-Size="X-Large"></asp:Label>
                    <asp:GridView ID="ProductList" runat="server" AllowPagig="True" PageSize="10" OnPageIndexChanging="ProductList_PageIndexChanging" AllowPaging="true" PagerSettings-Mode="NextPreviousFirstLast" PagerSettings-FirstPageText="<<" PagerSettings-LastPageText=">>" PagerStyle-CssClass="ehee"></asp:GridView>
                </td>
            </tr>
        </table>
    </form>


</body>
</html>
